body {
  --blue: #3A86FF;
  font-family: var(--main_font);
}

::-webkit-scrollbar {
  width: 0;
}

html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.main_font {
  font-family: var(--main_font);
}
.brand_font {
  font-family: var(--brand_font);
}
h1 {
  font-weight: 400;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.blocker-wrapper,
.video-blocker {
  width: 400px;
  height: 300px;
}

.blocker-wrapper {
  position: relative;
}

.video-blocker {
  position: absolute;
  top: 0;
  left: 0;
}