.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10rem;
  padding-top: 6rem;
  min-height: 100vh;

  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* NAVBAR SECTION */
.navbar {
  position: absolute;
  width: calc(100vw);
  top: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-bottom: 1px solid rgb(227, 227, 227);
}
.navbar a {
  margin: 1rem;
  padding: 0.75rem;
  border-radius: 20px;
  font-size: 0.8rem;
    font-weight: 500;

  color: rgb(33, 32, 32);
}
.navbar a:hover {
  background-color: rgb(237, 240, 244);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

/* HERO SECTION */
.hero_video {
  width: calc((100vw - 20rem + 160px));
  height: calc(400px + (100vw - 20rem)*((9/16)));
}
.hero_wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_wrapper,
.video_overlay {
  width: 100%;
  height: calc((100vw - 20rem)*(8/16));
  border-radius: 20px;
}
.video_overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
}
.namestamp {
  background-color: transparent;
  border: 5px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  
  font-size: 3rem;
  padding: 2rem;
  position: relative;
  color: white;
  overflow: hidden;
}
.svg_blend {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 102%;
  height: 102%;
  filter: opacity(0.2);
}
.svg_blend2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 102%;
  height: 102%;
  filter: opacity(1);
}

/* BEST SELLERS SECTION */

.best_sellers_wrapper {
  margin-top: 8rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.about_wrapper {
  margin-top: 8rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.about_wrapper div {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
}

.about_wrapper p {
  margin: 60px;
  margin-top: 10px;
  font-size: 1.1rem;
  line-height: 40px;
}
.about_wrapper h2 {
  color: #c8ccce;
  margin: 60px;
  margin-bottom: 0;
  font-size: 1.1rem;
}

/* Project */

.projects_wrapper {
  margin-top: 8rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.project {
  width: 70vw;
  padding-right: 2.5vw;
  overflow: hidden;
  background: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  position: relative;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-bottom: 10vh;
}
.project_header_top {
  width: 55vw;
  height: 30vh;
  background-size: cover;
  position: absolute;
  top: 0;
  left: -50%;
  transform: scaleX(-1) translate(-50%, 0);
  z-index: -1;
}
.project img {
  border: 5px solid white;
  width:50vw; 
  height:30vw; 
  border-radius: 20px;
  margin-right: 20px;
}
.project_subtitle {
  font-size: 1vw;
  color: #b4b6b6;
  margin: 0;
  padding-top: 20px;
}
.project_title {
  font-size: 2vw;
  margin: 0;
}
.project_disc {
  font-size: 1vw;
  line-height: 2;
  font-family: var(--main-font);
}
.project_button {
  color: #3A86FF;
  font-size: 1.5vw;
  width: 4vw;
  height: 4vw;
  background-color: transparent;
  border: transparent;
  border-radius: 40px;
  margin-top: auto;
}
.project_button:hover {
  color: #2c32e1;
  background-color: rgba(111, 209, 255, 0.5);
  cursor: pointer;
}

/* SHOP CTA SECTION */

.shopCTA_container {
  margin-top: 6rem;
  width: 100%;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.shopCTA {
  height: 50vh;
  padding: 1rem;
  border-radius: 10px;
  background-size: cover !important;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.shopCTA button {
  margin-top: auto;
  border: 0;
  border-radius: 10px;
  padding: 10px;

  background-color: white;
  color: var(--blue);
  font-weight: 600;
}
.shopCTA button:hover {
  background-color: rgb(223, 228, 230);
  cursor: pointer;
}
.shopCTA p {
  margin: 0;
  font-weight: 600;
  font-size: 2rem;
  color: white;
}